
/* .desktop and .mobile classes for visibility */

@media only screen and (max-width: 890px) {
  .desktop {
    display: none;
  }
}

@media only screen and (min-width: 890px) {
  .mobile {
    display: none;
  }
}

/* header */

header {
  padding: 1rem 0.5rem;

  .ant-row-space-between {
    align-items: center;
    text-align: center;
  }
}

